:root {
  --ff: "Work Sans", sans-serif;
  
  --fs-big: 4rem;
  --fs-semibig: 3rem;
  --fs-medium: 1.5rem;
  --fs-semimedium: 1.25rem;
  --fs-normal: 1rem
     
  --fw-noraml: 400;
  --fw-semibold: 700;
  --fw-bold: 900;

  --clr-primary: #ffc536;
  --clr-background: #050818;
  --clr-text: #ffffff;

  --spacer: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: var(--ff);
    font-size: var(--fs-normal);
    font-weight: normal;
}
/* 
nav {
  background-color: #050818;
  display: flex;
  justify-content: space-evenly;
}
nav > ul {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.nav-menu > li {
  list-style-type: none;
} */

header {
  background-image: url(images/Rectangle\ 19.png);
}

/* New Game Section Styling*/
/* .new-games-section {
    padding: 128px 240px;
} */
.new-games-section {
    color: var(--clr-text);
    background-color: var(--clr-background);
    padding: 20px 10px;
    text-align: center;

}
h2 {
    font-size: var(--fs-semibig);
    font-weight: var(--fw-semibold);
    margin-bottom: var(--spacer);
}
p {
    margin-bottom: var(--spacer);
}
.card-one {
    background-image: url(images/Group\ 51.png);
    /* width: 100vw;
    height: 100vh; */

}
.card-content {
    height: 400px;
    width: 183px;
    position: sticky;
    margin: auto;
}